@import './variables.scss';
@import './normalize.scss';
@import '../layout/style.scss';
@import './element-ui.rewrite.scss';
@import './mixin.scss';
@import './transition.scss';

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-appearance: none;
  box-sizing: border-box;
}

li,
ol,
ul {
  list-style: none;
}
