.gt-layout__sidebar .el-submenu [class^=el-icon-]{
    width: 18px;
    margin-right: 12px;

}

.gt-layout__sidebar .el-menu--collapse .el-submenu [class^=el-icon-]{
    margin-left: 18px;
}

.gt-layout__sidebar .el-submenu__title i{
    color: unset;
}